* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos Barra de Navegación */
header.main-nav {
    background-color: #3C8D68;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Barra de Búsqueda centrada y alargada */
.barra-busqueda {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.barra-busqueda input {
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Ajuste del botón de búsqueda */
.barra-busqueda button {
    padding: 4.5px 8px;
    background-color: #1C5D99;
    border: none;
    color: white;
    cursor: pointer;
}

/* Iconos derecha del menú */
.iconos-derecha {
    display: flex;
    gap: 15px;
}

.sub-nav {
    background-color: #2E594F;
    padding: 10px 0;
}

.sub-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sub-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Contenedor del producto en el carrito */
.producto-carrito {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilos de la imagen del producto */
.imagen-producto {
    width: 120px;  /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Detalles del producto a la derecha de la imagen */
.detalles-producto {
    flex-grow: 1;
}

#carrito p {
    font-size: 18px;
    margin-bottom: 10px;
}

#carrito label {
    font-weight: bold;
    margin-right: 10px;
}

#carrito input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#total {
    font-size: 20px;
    font-weight: bold;
    color: #1C5D99;
}
